.newsletter {
    text-align: center;
    width: 960px;
    background-color: $smoky-black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: $size2;
}

.group input  {
        text-align: center;
        background-color: $smoky-black;
        color: $white;
        font-size: $size3;
        }     
    .group button {
        border-width: 0;
        font-size: $size4;
        padding: 5px 10px;
    
}    
.group button {
    background-color: $red;
    color: $white;
}
