/* Header Layout */

.header {
    background-color: $eerie-black;
}

.logo img {
    width: 78px;
}

// .navbar-toggler {}
// .navbar-toggler-icon {
//     width: 100%;
//     justify-content: space-between;
// }
.navigationbar {
    width: 100%;
    justify-content: space-between;
}