// StyleGuide (Guia de estilos)
// ColorsScheme (Esquema de color)
$white: #fff;
$platinium: #e6e7e7;
$light-gray: #d1d1d1;
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #e56353;
$spanish-pink: #ecbcba;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;
// Typography
$roboto: 'Roboto',
sans-serif;
$playfair_display: 'Playfair Display',
serif;
//Fontweight
$light: 300;
$regular: 400;
$playfair-black: 900;
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;