
/* components buttons */

.elemento1_btn {
    border-radius: 0px;
    background-color: $white;
    border-top: 1px solid $smoky-black;
    border-right: 1px solid $smoky-black;
    border-left: 1px solid $quick-silver;
    border-bottom: 1px solid $quick-silver;
    padding: 10px 20px;
}

.elemento2_inp {
    border-radius: 0px;
    background-color: $white;
    padding: 5px 10px;
    width: 200px;
    border: none;
    margin-top: 10px;
    margin-left: 80px;
}