
/*base typography*/

.header {
    .navbar_menu .menu_link {
        font-family: $raleway;
        font-size: $small;
        font-weight: $bold;
        color: $smoky-black;
    }
}

main {
    .elemento1_h1 {
        font-family: $raleway;
        font-size: $xxx-large;
        font-weight: $bold;
    }
    .elemento1_p {
        font-family: $raleway;
        font-size: $x-small;
        font-weight: $regular;
        color: $granite-gray;
        margin-right: 35%;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .elemento1_btn {
        font-family: $raleway;
        font-size: $small;
        font-weight: $bold;
    }
    .elemento2_h1 {
        font-family: $oldstandard;
        font-size: $xx-large;
        font-weight: $bold;
        color: $white;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
    .elemento2_sp {
        font-family: $oldstandard;
        font-size: $small;
        font-weight: $bold;
        color: $white;
        margin-top: 100px;
        margin-left: 80px;
    }
    .elemento2_inp {
        font-family: $raleway;
        font-size: $x-small;
        font-weight: $regular;
        color: $granite-gray;
    }
    .elemento3_p {
        font-family: $oldstandard;
        font-size: $large;
        font-weight: $bold;
    }
}