//Colores//
$white: #FFF;
$isabelline: #f8f3e6;
$ligth-gray: #ebeced;
$smoky-black: #193446;
$granite-gray: #fbb79e;
$quick-silver: #4c384a;
$red: #b90000;
$griss: #d4d0d4;
//Font sizes//
$size1: 50px;
$size2: 30px;
$size3: 20px;
$size4: 18px;
$size5: 16px;
$size6: 14px;
$size7: 12px;
$size8: 10px;